<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export Passwords</title>
  </head>
  <body>
    <h1>Export Passwords</h1>
    <p>
      Cliquez sur le bouton ci-dessous pour exporter les mots de passe au format
      CSV :
    </p>
    <form action="{% url 'export_passwords_csv' %}" method="get">
      {% csrf_token %}
      <button type="submit">Exporter les mots de passe</button>
    </form>
  </body>
</html>
