<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export Passwords</title>
    <style>
      body.dark-mode {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>

  <body>
    <h1>Export Passwords</h1>
    <p>
      Cliquez sur le bouton ci-dessous pour exporter les mots de passe au format
      CSV :
    </p>
    <form action="{% url 'export_passwords_csv' %}" method="get">
      {% csrf_token %}
      <button type="submit">Exporter les mots de passe</button>
    </form>
    <button onclick="toggleDarkMode()">Dark Mode</button>
    <script>
      function toggleDarkMode() {
        const body = document.body;
        body.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>
