<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Site</title>
    <style>
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
<h1>Modifier un Site</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
</form>
</body>
<button onclick="toggleDarkMode()">Dark Mode</button>
<script>
    function toggleDarkMode() {
        const body = document.body;
        body.classList.toggle('dark-mode');
    }
</script>
</html>
